<div class="content">
  <img class="arrow" src="../../assets/arrow.png" alt="back" (click)="goHome()">
  <h1 class="title">Literatura Citada</h1>
  <p class="reference">
    The beneficial aspects of mindfulness for students of computer engineering. (2018, 8 febrero). ScienceDaily. Recuperado 19 de noviembre de 2021, de <a href="https://www.sciencedaily.com/releases/2018/02/180208120857.htm">https://www.sciencedaily.com/releases/2018/02/180208120857.htm</a>
  </p>
  <br>
  <br>
  <p class="reference">
    Vargas, C. (2021, 3 septiembre). Beneficios del minfulness en tu vida. Aprende Institute. <a href="https://aprende.com/blog/bienestar/meditacion/beneficios-del-mindfulness-para-aplicar-a-tu-vida-diaria/">https://aprende.com/blog/bienestar/meditacion/beneficios-del-mindfulness-para-aplicar-a-tu-vida-diaria/</a> 
  </p>
</div>