
.wrapper {
  height: 90vh;
  background-color: antiquewhite;
  padding: 5vh 2vw;
  .arrow {
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    padding-left: 5vw;
    .activity {
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 150px;
      border-radius: 5px;
      border: 3px solid #f50057;
      &:hover {
        background-color: transparent;
        background-color: #f50057;
        border: 3px solid black;
        font-size: 2rem;
      }
    }
  }
  .right-part {
    .activity-description {
      height: 100%;
      width: 60vw;
      border: 3px solid #f50057;
      display: flex;
      align-items: center;
      justify-content: center;
      .info {
        height: 100%;
        text-align: center;
        padding: 20px;
        .activity-name {
          font-size: 4rem;
          text-transform: uppercase;
        }
        .activity-desc {
          max-width: 50vw;
          font-size: 2rem;
        }
        img {
          width: 300px;
          height: 300px;
          margin-bottom: 30px;
        }
      }
    }
    .click-me{
      text-transform: uppercase;
      font-size: 4rem;
    }
  }
}

.card-selected {
  background-color: transparent;
  background-color: #f50057;
  border: 3px solid black !important;
  font-size: 2rem;
}
