<div class="content">
  <img class="arrow" src="../../assets/arrow.png" alt="back" (click)="goHome()">
  <div class="main-title">
    Mindfulness en mi vida
  </div>
  <div class="wrapper">
    <img class="me" src="../../assets/me.png" alt="Me">
    <p class="description">
      Hasta este semestre, nunca habia escuchado el termino de Mindfulness, pero ahora sí y tambien se distintas
      formas en la que lo puedo utilizar para mi beneficio. En mi dia a dia trato de darme un tiempo para pensar 
      o simplemente estar en calma, cosa que antes no hacia. Tambien trato de que los problemas que tengo no me 
      afecten de la forma en la cual lo hacian, ahora analizo bien y pienso no pienso en las cosas que estan fuera de
      mi control y me enfoco unicamente en lo que si puedo controlar.
    </p>
  </div>
</div>