.arrow {
  height: 50px;
  width: 50px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.content {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1493382051629-7eb03ec93ea2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 5vh 2vw;
  .main-title {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .me {
    width: 300px;
    align-self: center;
    margin-bottom: 30px;
  }
  .description {
    font-size: 2rem;
    max-width: 70vw;
    text-align: center;
  }
}