<div class="content">
  <img class="arrow" src="../../assets/arrow.png" alt="back" (click)="goHome()">
  <div class="career-content">
    <img src="../../assets/programmer.svg" alt="Programming">
    <p class="description">
      Ser un desarrollador de Software en ocaciones puede ser muy frustante, porquesolemos lidiar con
      problemas que no son faciles de solucionar, los trabajos de desarrollo suelen ser muy exigentes, 
      provocando que los desarrolladores se sientan frustrados, enojados o ansiosos.
      <br>
      <br>
      Por eso el Mindfulness puede ser muy importante para un programador, poder despejar la mente y dejar de
      preocuparse por cosas que no podemos controlar o cosas que no estan a nuestro alcance. Ser capaz de manejar la 
      frustracion y la ansiedad es una habilidad indispensable para poder tener una vida plena.
    </p>
  </div>
</div>