<section class="main">
  <div class="home-left">
    <h1 class="main-title">Mindfulness
      <br>
      <span class="second-title">Proyecto final</span>
    </h1>
    <div class="card-container">      
      <app-card 
        [name]="'Actividades'"
        [image_path]="'photo1'"
        [path]="'actividades'">
      </app-card>
      <app-card
        [name]="'Mindfulness y mi carrera'"
        [image_path]="'photo2'"
        [path]="'carrera'">
      </app-card>
      <app-card
        [name]="'Mindfulness en mi vida'"
        [image_path]="'photo3'"
        [path]="'vida'">
      </app-card>
    </div>
    <h4>Elaborado por Oscar Saravia</h4>
  </div>
  <div class="home-right">
    <img src="../../assets/main.svg" alt="mindfulness">
  </div>
</section>
